    <div class="row">
        <div class="container badge-group col-4 mb-3">
            <img class="badge-logo badgeOff badge-1" id="badgeCollection-1" src="{{ asset('images/cooking_badge.png') }}" alt="">
            <div class="badge-text center">
                <a tabindex="0" class="btn btn-secondary" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Créer 1 recette">
                    Aide cuisinier
                </a>
            </div>
        </div>
        <div class="container badge-group col-4 mb-3">
            <img class="badge-logo badgeOff badge-2" id="badgeCollection-2" src="{{ asset('images/cooking_badge.png') }}" alt="">
            <div class="badge-text center">
                <a tabindex="0" class="btn btn-secondary" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Créer 5 recettes">
                    Plongeur
                </a>
            </div>
        </div>
        <div class="container badge-group col-4 mb-3">
            <img class="badge-logo badgeOff badge-3" id="badgeCollection-3" src="{{ asset('images/cooking_badge.png') }}" alt="">
            <div class="badge-text center">
                <a tabindex="0" class="btn btn-secondary" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Créer 10 recettes">
                    Commis
                </a>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="container badge-group col-4 mb-3">
            <img class="badge-logo badgeOff badge-4" id="badgeCollection-4" src="{{ asset('images/cooking_badge.png') }}" alt="">
            <div class="badge-text center">
                <a tabindex="0" class="btn btn-secondary" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Créer 20 recettes">
                    Chef de partie
                </a>
            </div>
        </div>
        <div class="container badge-group col-4 mb-3">
            <img class="badge-logo badgeOff badge-5" id="badgeCollection-5" src="{{ asset('images/cooking_badge.png') }}" alt="">
            <div class="badge-text center">
                <a tabindex="0" class="btn btn-secondary" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Créer 50 recettes">
                    Sous-chef
                </a>
            </div>
        </div>
        <div class="container badge-group col-4 mb-3">
            <img class="badge-logo badgeOff badge-6" id="badgeCollection-6" src="{{ asset('images/cooking_badge.png') }}" alt="">
            <div class="badge-text center">
                <a tabindex="0" class="btn btn-secondary" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="Créer 100 recettes">
                    Chef de cuisine
                </a>
            </div>
        </div>
    </div>

    <script>
        var badgeId = [];

        {% if recipesNumber == 0 %}
        {% endif %}
        {% if recipesNumber in range(1, 4) or recipesNumber >= 4 %}
            badgeId.push("#badgeCollection-1");
        {% endif %}
        {% if recipesNumber in range(5, 9) or recipesNumber >= 9 %}
            badgeId.push("#badgeCollection-2");
        {% endif %}
        {% if recipesNumber in range(10, 19) or recipesNumber >= 19 %}
            badgeId.push("#badgeCollection-3");
        {% endif %}
        {% if recipesNumber in range(20, 49) or recipesNumber >= 49 %}
            badgeId.push("#badgeCollection-4");
        {% endif %}
        {% if recipesNumber in range(50, 99) or recipesNumber >= 99 %}
            badgeId.push("#badgeCollection-5");
        {% endif %}
        {% if recipesNumber >= 100 %}
            badgeId.push("#badgeCollection-6");
        {% endif %}

        $(badgeId.join()).removeClass('badgeOff');
    </script>

    {#var badge = document.getElementById('badge-1');#}
    {#badge.classList.remove('badgeOff');#}

    {#document.getElementById('badgeCollection-1').classList.remove('badgeOff');#}

    {#document.getElementById('badgeCollection-1').classList.remove('badgeOff');#}
    {#document.getElementById('badgeCollection-1').classList.add('badgeOn');#}

    {#$("[id^='badgeCollection']").removeClass('badgeOff');#}