{% extends 'base.html.twig' %}

{% block createRecipe %}

    <br/>

    <div class="col-lg-10 offset-lg-1">
        <div class="container">
            <h1>Publier une nouvelle recette</h1>
        </div>
    </div>

    <br/>

    <div class="col-lg-8 offset-lg-2">
        <div class="container">
            {{ form_start(form) }}
                <div class="mb-4">
                    {{ form_row(form.title) }}
                </div>
                <div class="row">
                    <div class="col-6">
                        {{ form_widget(form.category) }}
                    </div>
                    <div class="col-6">
                        {{ form_widget(form.file) }}
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-6">
                        {{ form_row(form.preparationTime) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.cookingTime) }}
                    </div>
                </div>
                <br/>
                <hr/>
                <div class="mb-4">
{#                    <div class="ingredientForm">#}
{#                        <h5>Ingrédient N°1</h5>#}
{#                    </div>#}
                    <p>Les ingédients :</p>
                    {{ form_widget(form.ingredients) }}
                </div>
                <hr/>
                <br/>
                <div class="mb-4">
                    {{ form_row(form.content) }}
                </div>
                <div class="mb-4">
                    {{ form_row(form.note) }}
                </div>
                <div class="offset-lg-11">
                    <button class="btn btn-publish" type="submit">Publier</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <br/>
{% endblock %}