{% extends "base.html.twig" %}

{% block readRecipe %}
    <br/>

    {% for message in app.flashes('recipeSuccess') %}
        <div class="col-lg-6 offset-lg-3 alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="offset-lg-8 btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="col-lg-8 offset-lg-2">
        <div class="row">
            <h1>{{ recipe.category.name|capitalize }} - <strong class="italic-text">{{ recipe.title }}</strong>
{#                {% if is_granted("ROLE_USER") %}#}
{#                    {% for favorite in recipe.favorite %}#}
{#                        {% if favorite.id == app.user.id %}#}
{#                            <a href="{{ path('remove_favorite', {id: recipe.id}) }}"><i class="bi bi-suit-heart-fill recipeList_favorite"></i></a>#}
{#                        {% else %}#}
{#                            <a href="{{ path('add_favorite', {id: recipe.id}) }}"><i class="bi bi-suit-heart recipeList_favorite"></i></a>#}
{#                        {% endif %}#}
{#                    {% else %}#}
{#                        <a href="{{ path('add_favorite', {id: recipe.id}) }}"><i class="bi bi-suit-heart recipeList_favorite"></i></a>#}
{#                    {% endfor %}#}
{#                {% else %}#}
{#                    <i class="bi bi-suit-heart recipeList_favorite"></i>#}
{#                {% endif %}#}

{#                {% if is_granted("ROLE_USER") %}#}
{#                    {% set isFavorite = false %}#}
{#                    {% for favorite in recipe.favorite %}#}
{#                        {% if favorite.id == app.user.id %}#}
{#                            {% set isFavorite = true %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                    {% if isFavorite %}#}
{#                        <a href="{{ path('remove_favorite', {id: recipe.id}) }}"><i class="bi bi-suit-heart-fill recipeList_favorite"></i></a>#}
{#                    {% else %}#}
{#                        <a href="{{ path('add_favorite', {id: recipe.id}) }}"><i class="bi bi-suit-heart recipeList_favorite"></i></a>#}
{#                    {% endif %}#}
{#                {% else %}#}
{#                    <a href="{{ path('add_favorite', {id: recipe.id}) }}"><i class="bi bi-suit-heart recipeList_favorite"></i></a>#}
{#                {% endif %}#}

                {% if is_granted("ROLE_USER") %}
                    {% set isFavorite = false %}
                    {% for favorite in recipe.favorite %}
                        {% if favorite.id == app.user.id %}
                            {% set isFavorite = true %}
                        {% endif %}
                    {% endfor %}
                    {% if isFavorite %}
                        <i id="removeFavourite" data-recipe-name="{{ recipe.title }}" class="bi bi-suit-heart-fill recipeList_favorite"></i>
                    {% else %}
                        <i id="addFavourite" data-recipe-name="{{ recipe.title }}" class="bi bi-suit-heart recipeList_favorite"></i>
                    {% endif %}
                {% else %}
                    <i id="addFavourite" data-recipe-name="{{ recipe.title }}" class="bi bi-suit-heart recipeList_favorite"></i>
                {% endif %}

{#                {% if is_granted("ROLE_USER") %}#}
{#                    {% set isFavorite = false %}#}
{#                    {% for favorite in recipe.favorite %}#}
{#                        {% if favorite.id == app.user.id %}#}
{#                            {% set isFavorite = true %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                    {% if isFavorite %}#}
{#                        <i onclick="putRemoveFav()" id="removeFavourite" data-recipe-name="{{ recipe.title }}" class="bi bi-suit-heart-fill recipeList_favorite"></i>#}
{#                    {% else %}#}
{#                        <i onclick="putAddFav()" id="addFavourite" data-recipe-name="{{ recipe.title }}" class="bi bi-suit-heart recipeList_favorite"></i>#}
{#                    {% endif %}#}
{#                {% else %}#}
{#                    <i onclick="putAddFav()" id="addFavourite" data-recipe-name="{{ recipe.title }}" class="bi bi-suit-heart recipeList_favorite"></i>#}
{#                {% endif %}#}
            </h1>
{#            <div>#}
{#                <a id="addFavourite" data-recipe-name="{{ recipe.title }}" href="#"><i class="bi bi-suit-heart recipeList_favorite"></i></a>#}
{#                <a id="removeFavourite" data-recipe-name="{{ recipe.title }}" href="#"><i class="bi bi-suit-heart-fill recipeList_favorite"></i></a>#}
{#            </div>#}
            <div>
                {% if average is null %}
                    <h4>Pas de note pour le moment</h4>
                {% else %}
                    <h4>
                        <span class="average" id="averageScore"></span>
                        <span>{{ average.average }} / 5 sur {{ average.numberScore }} avis</span>
                    </h4>
                {% endif %}
                <small>Publié le {{ recipe.publishedAt|date("d/m/Y") }} par {{ recipe.user.pseudo }}</small>
            </div>
        </div>
        <br/>
        <img class="card-img img-fluid img-thumbnail rounded recipe-img" src="{{ asset(recipe.image) }}" alt="{{ recipe.title }}">
        <br/>
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-read-recipe rounded">
                    <br/>
                    <div class="col-lg-10 offset-lg-1">
                        <h3><i class="bi bi-hourglass-split"></i> Temps de préparation :</h3>
                        <f>{{ recipe.preparationTime|format_datetime('none', 'short', locale='fr') }}</f>
                    </div>
                </div>
                <br/>
                <div class="card card-read-recipe rounded">
                    <br/>
                    <div class="col-lg-10 offset-lg-1">
                        <h3><i class="bi bi-hourglass-split"></i> Temps de cuisson :</h3>
                        <f>{{ recipe.cookingTime|format_datetime('none', 'short', locale='fr') }}</f>
                    </div>
                </div>
                <br/>
                <div class="card card-read-recipe rounded">
                    <br/>
                    <div class="col-lg-10 offset-lg-1">
                        <h3><i class="bi bi-cart3"></i> Listes des ingrédients :</h3>
                        {% for ingredient in ingredient %}
                            <f> - {{ ingredient.proportion }} {{ ingredient.name }}</f>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card card-read-recipe rounded">
                    <br/>
                    <div class="col-lg-10 offset-lg-1">
                        <h3>Préparation :</h3>
                        <f class="read-content">{{ recipe.content | raw }}</f>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="card card-read-recipe">
            <div class="col-lg-10 offset-lg-1 italic-text">
                <br/>
                <h3>Notes</h3>
                <pre>{{ recipe.note }}</pre>
            </div>
        </div>
        <br/>
        {% if is_granted('edit', recipe) %}
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <div class="col-lg-4 offset-lg-4">
                        <a href="{{ path('blog_update', { id: recipe.id }) }}" class="btn readRecipe-modifyBtn">Modifier la recette</a>
                    </div>
                </div>
                <!-- Btn d'appel à la modale -->
                <div class="col-lg-6">
                    <div class="col-lg-4 offset-lg-4">
                        <a href="#" class="btn readRecipe-deleteBtn" data-bs-toggle="modal" data-bs-target="#modalRecipeDelete" data-id="{{ recipe.id }}" data-title="{{ recipe.title }}"><i class="bi bi-trash-fill"></i> Supprimer</a>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="modalRecipeDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-trash-fill"></i> Supprimer la recette</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <f>Êtes-vous sûr(e) de vouloir supprimer la recette "{{ recipe.title }}" ?</f>
                    </div>
                    <div class="modal-footer">
                        <a class="btn readRecipe-cancelBtn" data-bs-dismiss="modal">Annuler</a>
                        <a href="{{ path('blog_delete', { id: recipe.id }) }}" class="btn readRecipe-deleteBtn">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br/>

    <div class="col-lg-6 offset-lg-3">
        <div class="card card-stars">
            <br/>
                <div class="offset-lg-6 col-lg-5 alert alert-success starsMessage hideStarsMessage">
                    Vous avez donné une note de  <span id="countRatingStars">0</span> étoile(s)
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <form class="center" action="{{ path('blog_read', { id: recipe.id }) }}" method="post">
                    <div>
                        <h4>Noter cette recette !</h4>
                    </div>
                    <div class="rating-stars">
                        <i class="bi bi-star" data-value="1"></i>
                        <i class="bi bi-star" data-value="2"></i>
                        <i class="bi bi-star" data-value="3"></i>
                        <i class="bi bi-star" data-value="4"></i>
                        <i class="bi bi-star" data-value="5"></i>
                    </div>
                    {% if is_granted("ROLE_USER") %}
                        <br/>
                        <input type="hidden" id="note" name="_note" value="0">
                        <div class="center">
                            <button class="btn btn-secondary" type="submit">Valider la note</button>
                        </div>
                    {% else %}
                        <f>Pour noter cette recette, veuillez vous connecter.</f>
                    {% endif %}
                </form>
            <br/>

        </div>
    </div>

    <br/>

    <script>
        // Conversion de la note de la recette en étoiles + affichage dans la vue
        {% if average is null %}

        {% else %}
            document.getElementById("averageScore").innerHTML = getStars({{ average.average }});
        {% endif %}

        function getStars(rating) {

            // Arrondir à la moitié la plus proche
            rating = Math.round(rating * 2) / 2;
            let output = [];

            // Ajouter toutes les étoiles entières remplies
            for (var i = rating; i >= 1; i--)
                output.push('<i class="fas fa-star"></i></i>&nbsp;');

            // S'il y a une demi-étoile, l'ajouter
            if (i == .5)
                output.push('<i class="fas fa-star-half-alt"></i></i>&nbsp;');

            // Remplir les étoiles vides
            for (let i = (5 - rating); i >= 1; i--)
                output.push('<i class="far fa-star"></i></i>&nbsp;');

            return output.join('');
        }

        //------------------------------------------------------------------------------------

        // Add and remove favourite recipe / fill = coeur plein
        var $add = $("#addFavourite");
        var $remove = $("#removeFavourite");
        var $addFav = '<i id="addFavourite" data-item-id="{{ recipe.title }}" class="bi bi-suit-heart recipeList_favorite"></i>';
        var $removeFav = '<i id="removeFavourite" data-item-id="{{ recipe.title }}" class="bi bi-suit-heart-fill recipeList_favorite"></i>';

        $add.on("click", function() {
            $add.replaceWith($removeFav);
            // $add.hide();
            // $remove.show();

            var recipeName = $add.data("recipe-name");
            alert("Recette ajoutée en favoris : " + recipeName);

            // code AJAX pour ajouter la recette en favoris
            $.ajax({
                url: '{{ path('add_favorite', { id: recipe.id }) }}',
                type: 'PUT',
            });

        });

        $remove.on("click", function() {
            // $add.show();
            // $remove.hide();
            $remove.replaceWith($addFav);

            var recipeName = $remove.data("recipe-name");
            alert("Recette supprimée des favoris : " + recipeName);

            // code AJAX pour supprimer la recette en favoris
            $.ajax({
                url: '{{ path('remove_favorite', { id: recipe.id }) }}',
                type: 'DELETE',
            });

        });


        {#function putAddFav()#}
        {#{#}
        {#    var aF = document.getElementById("addFavourite");#}
        {#    aF.onclick = function() {#}
        {#        var $add = $("#addFavourite");#}
        {#        var $remove = $("#removeFavourite");#}

        {#        var recipeName = $add.data("recipe-name");#}
        {#        alert("Recette ajoutée aux favoris : " + recipeName);#}

        {#        $add.addClass("bi bi-suit-heart-fill");#}
        {#        $add.removeClass("bi bi-suit-heart");#}
        {#        aF.id = "removeFavourite";#}

        {#        $.ajax({#}
        {#            url: '{{ path('add_favorite', { id: recipe.id }) }}',#}
        {#            type: 'PUT',#}
        {#        });#}
        {#    };#}
        {#}#}

        {#function putRemoveFav()#}
        {#{#}
        {#    var rF = document.getElementById("removeFavourite");#}
        {#    rF.onclick = function() {#}
        {#        var $add = $("#addFavourite");#}
        {#        var $remove = $("#removeFavourite");#}

        {#        var recipeName = $remove.data("recipe-name");#}
        {#        alert("Recette supprimée des favoris : " + recipeName);#}

        {#        $remove.addClass("bi bi-suit-heart");#}
        {#        $remove.removeClass("bi bi-suit-heart-fill");#}
        {#        rF.id = "addFavourite";#}

        {#        $.ajax({#}
        {#            url: '{{ path('remove_favorite', { id: recipe.id }) }}',#}
        {#            type: 'DELETE',#}
        {#        });#}
        {#    };#}
        {#}#}


        {#function addRemoveFav()#}
        {#{#}
        {#    var aF = document.getElementById("addFavourite");#}
        {#    var rF = document.getElementById("removeFavourite");#}

        {#    if (document === aF) {#}
        {#        var recipeName = aF.data("recipe-name");#}
        {#        alert("Recette ajoutée aux favoris : " + recipeName);#}

        {#        $.ajax({#}
        {#            url: '{{ path('add_favorite', { id: recipe.id }) }}',#}
        {#            type: 'PUT',#}
        {#        });#}
        {#    } else {#}
        {#        var recipeName = rF.data("recipe-name");#}
        {#        alert("Recette supprimée des favoris : " + recipeName);#}

        {#        $.ajax({#}
        {#            url: '{{ path('remove_favorite', { id: recipe.id }) }}',#}
        {#            type: 'DELETE',#}
        {#        });#}
        {#    }#}
        {#}#}


        {#const add = document.querySelector("#addFavourite");#}
        {#const remove = document.querySelector("#removeFavourite");#}

        {#add.addEventListener("click", function () {#}
        {#    this.className = "bi bi-suit-heart-fill recipeList_favorite";#}
        {#    this.id = "removeFavourite";#}

        {#    // code AJAX pour ajouter la recette en favoris#}
        {#    $.ajax({#}
        {#        url: '{{ path('add_favorite', { id: recipe.id }) }}',#}
        {#        type: 'PUT',#}
        {#    });#}
        {#});#}

        {#remove.addEventListener("click", function () {#}
        {#    this.className = "bi bi-suit-heart recipeList_favorite";#}
        {#    this.id = "addFavourite";#}

        {#    // code AJAX pour ajouter la recette en favoris#}
        {#    $.ajax({#}
        {#        url: '{{ path('remove_favorite', { id: recipe.id }) }}',#}
        {#        type: 'DELETE',#}
        {#    });#}
        {#});#}
    </script>

    <script src="{{ asset('js/ratingStars.js') }}"></script>
{% endblock %}
