{% extends "base.html.twig" %}

{% block readRecipe %}
    <br/>

    {% for message in app.flashes('recipeSuccess') %}
        <div class="col-lg-6 offset-lg-3 alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="offset-lg-8 btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    <div class="col-lg-8 offset-lg-2">
        <div class="row">
            <h1>{{ recipe.category.name|capitalize }} - <strong class="italic-text">{{ recipe.title }}</strong>
                {% if is_granted("ROLE_USER") %}
                    {% for favorite in recipe.favorite %}
                        {% if favorite.id == app.user.id %}
                            <a href="{{ path('remove_favorite', {id: recipe.id}) }}"><i class="bi bi-suit-heart-fill recipeList_favorite"></i></a>
                        {% else %}
                            <a href="{{ path('add_favorite', {id: recipe.id}) }}"><i class="bi bi-suit-heart recipeList_favorite"></i></a>
                        {% endif %}
                    {% else %}
                        <a href="{{ path('add_favorite', {id: recipe.id}) }}"><i class="bi bi-suit-heart recipeList_favorite"></i></a>
                    {% endfor %}
                {% else %}
                    <i class="bi bi-suit-heart recipeList_favorite"></i>
                {% endif %}
            </h1>
            <div>
                {% if average is null %}
                    <h4>Pas de note pour le moment</h4>
                {% else %}
                    <h4>
                        <span class="average" id="averageScore"></span>
                        <span>{{ average.average }} / 5 sur {{ average.numberScore }} avis</span>
                    </h4>
                {% endif %}
                <small>Publié le {{ recipe.publishedAt|date("d/m/Y") }} par {{ recipe.user.pseudo }}</small>
            </div>
        </div>
        <br/>
        <img class="card-img img-fluid img-thumbnail rounded recipe-img" src="{{ asset(recipe.image) }}" alt="{{ recipe.title }}">
        <br/>
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-read-recipe rounded">
                    <br/>
                    <div class="col-lg-10 offset-lg-1">
                        <h3><i class="bi bi-hourglass-split"></i> Temps de préparation :</h3>
                        <p>{{ recipe.preparationTime|format_datetime('none', 'short', locale='fr') }}</p>
                    </div>
                </div>
                <br/>
                <div class="card card-read-recipe rounded">
                    <br/>
                    <div class="col-lg-10 offset-lg-1">
                        <h3><i class="bi bi-hourglass-split"></i> Temps de cuisson :</h3>
                        <p>{{ recipe.cookingTime|format_datetime('none', 'short', locale='fr') }}</p>
                    </div>
                </div>
                <br/>
                <div class="card card-read-recipe rounded">
                    <br/>
                    <div class="col-lg-10 offset-lg-1">
                        <h3><i class="bi bi-cart3"></i> Listes des ingrédients :</h3>
                        <p>- Ingrédient N°1</p>
                        <p>- Ingrédient N°2</p>
                        <p>- Ingrédient N°3</p>
                        <p>- Ingrédient N°4</p>
                        <p>- Ingrédient N°5</p>
                        <p>- Ingrédient N°6</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card card-read-recipe rounded">
                    <br/>
                    <div class="col-lg-10 offset-lg-1">
                        <h3>Préparation :</h3>
                        <p class="read-content">{{ recipe.content | raw }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="card card-read-recipe">
            <div class="col-lg-10 offset-lg-1 italic-text">
                <br/>
                <h3>Notes</h3>
                <pre>{{ recipe.note }}</pre>
            </div>
        </div>
        <br/>
        {% if is_granted('edit', recipe) %}
            <div class="row justify-content-between">
                <div class="col-lg-6">
                    <div class="col-lg-4 offset-lg-4">
                        <a href="{{ path('blog_update', { id: recipe.id }) }}" class="btn readRecipe-modifyBtn">Modifier la recette</a>
                    </div>
                </div>
                <!-- Btn d'appel à la modale -->
                <div class="col-lg-6">
                    <div class="col-lg-4 offset-lg-4">
                        <a href="#" class="btn readRecipe-deleteBtn" data-bs-toggle="modal" data-bs-target="#modalRecipeDelete" data-id="{{ recipe.id }}" data-title="{{ recipe.title }}"><i class="bi bi-trash-fill"></i> Supprimer</a>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Modal -->
        <div class="modal fade" id="modalRecipeDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-trash-fill"></i> Supprimer la recette</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Êtes-vous sûr(e) de vouloir supprimer la recette "{{ recipe.title }}" ?</p>
                    </div>
                    <div class="modal-footer">
                        <a class="btn readRecipe-cancelBtn" data-bs-dismiss="modal">Annuler</a>
                        <a href="{{ path('blog_delete', { id: recipe.id }) }}" class="btn readRecipe-deleteBtn">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br/>

    <div class="col-lg-6 offset-lg-3">
        <div class="card card-stars">
            <br/>
                <div class="offset-lg-6 col-lg-5 alert alert-success starsMessage hideStarsMessage">
                    Vous avez donné une note de  <span id="countRatingStars">0</span> étoile(s)
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <form class="center" action="{{ path('blog_read', { id: recipe.id }) }}" method="post">
                    <div>
                        <h4>Noter cette recette !</h4>
                    </div>
                    <div class="rating-stars">
                        <i class="bi bi-star" data-value="1"></i>
                        <i class="bi bi-star" data-value="2"></i>
                        <i class="bi bi-star" data-value="3"></i>
                        <i class="bi bi-star" data-value="4"></i>
                        <i class="bi bi-star" data-value="5"></i>
                    </div>
                    {% if is_granted("ROLE_USER") %}
                        <br/>
                        <input type="hidden" id="note" name="_note" value="0">
                        <div class="center">
                            <button class="btn btn-secondary" type="submit">Valider la note</button>
                        </div>
                    {% else %}
                        <p>Pour noter cette recette, veuillez vous connecter.</p>
                    {% endif %}
                </form>
            <br/>

        </div>
    </div>

    <br/>

    <script>
        // Conversion de la note de la recette en étoiles + affichage dans la vue
        {% if average is null %}

        {% else %}
            document.getElementById("averageScore").innerHTML = getStars({{ average.average }});
        {% endif %}

        function getStars(rating) {

            // Arrondir à la moitié la plus proche
            rating = Math.round(rating * 2) / 2;
            let output = [];

            // Ajouter toutes les étoiles entières remplies
            for (var i = rating; i >= 1; i--)
                output.push('<i class="fas fa-star"></i></i>&nbsp;');

            // S'il y a une demi-étoile, l'ajouter
            if (i == .5)
                output.push('<i class="fas fa-star-half-alt"></i></i>&nbsp;');

            // Remplir les étoiles vides
            for (let i = (5 - rating); i >= 1; i--)
                output.push('<i class="far fa-star"></i></i>&nbsp;');

            return output.join('');
        }
    </script>

    <script src="{{ asset('js/ratingStars.js') }}"></script>
{% endblock %}
