{% extends 'base.html.twig' %}

{% block registration %}
    <br/>

    <div class="col-lg-10 offset-lg-1">
        <div class="container">
            <h1>Inscription</h1>
        </div>
        <br/>
        <div class="col-lg-10 offset-lg-1">
            <h4>Inscrivez-vous afin de partager vos meilleures recettes avec la communauté !</h4>
        </div>
    </div>

    <br/>

    <div class="col-lg-4 offset-lg-4">
        <div class="card card-userRegistration">
            <div class="card-body">
                <div class="container">
                    <h4 class="card-title">
                        Je m'inscris
                    </h4>
                    {{ form_start(form) }}
                    <div class="mb-4">
                        {{ form_errors(form) }}
                    </div>
                    <div class="mb-4">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="mb-4">
                        {{ form_row(form.pseudo) }}
                    </div>
                    <br/>
                    <div class="mb-4">
                        <i class="btn btn-passwordLogo bi bi-eye-fill" id="changePasswordLogo" onclick="DisplayHidePassword()"></i>
                        <span id="displayPassword">Afficher</span> le mot de passe
                    </div>
                    <div class="mb-4">
{#                        <input type="checkbox" onclick="DisplayHidePassword()"> <span id="displayPassword">Afficher</span> le mot de passe#}
                        {{ form_row(form.plainPassword) }}
                    </div>
                    <div class="offset-lg-8">
                        <button class="btn btn-registration" type="submit">Créer mon compte</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div class="card-body">
                <div class="col-lg-8 offset-lg-2 center">
                    <hr/>
                    <p>Vous avez déjà un compte ? <a href="{{ path('security_login') }}" class="">Connectez-vous</a></p>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <script>
        function DisplayHidePassword()
        {
            var input = document.getElementById("user_plainPassword_first");
            var span = document.getElementById("displayPassword");
            var i = document.getElementById("changePasswordLogo");
            if (input.type === "password")
            {
                input.type = "text";
                span.innerText = "Masquer";
                i.className = "btn btn-passwordLogo bi bi-eye-slash-fill";
            }
            else
            {
                input.type = "password";
                span.innerText = "Afficher";
                i.className = "btn btn-passwordLogo bi bi-eye-fill";
            }
        }
    </script>
{% endblock %}